/* header */
.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

header {
    max-width: inherit;
    width: inherit;
    background-color: #262626;
    padding: 45px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    display: flex;
    gap: 68px;
}

li a {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
}


.fa-bag-shopping {
    color: #FFFFFF;
    font-size: 30px;

}

/* section1 */

.section1 {
    width: 100%;
    height: 1080px;
    margin-inline: auto;
    position: relative;
    top: 111px;
    z-index: -1;
}

.section1_img {
    width: 100%;
    height: 100%;
}

.texts_box {
    width: 70%;
    position: absolute;
    top: 242px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 82px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

.section1_text {
    width: 45%;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 161px 0 23px 0;

}

.search {
    width: 463px;
    height: 71px;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 0 9px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;


}


.fa-magnifying-glass {
    font-size: 25px;
    color: #FFFFFF;
    background-color: #525A55;
    border-radius: 50px;
    padding: 13px;
}



/* middle section */

.section2 {
    width: 70%;
    margin-inline: auto;
    margin-top: 245px;
}

h2 {
    font-size: 75px;
    font-weight: 600;
    line-height: 88px;
    text-align: left;
    margin-bottom: 81px;

}

.cards {
    display: flex;
    justify-content: space-between;

}

.card {
    padding: 30px 41px;
    width: 30%;
    border: 2px solid #DCB47A
}

.title_cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 17px 0;
}

.card img {
    width: 100%;
}


/* bottom section */

.bottom_section {
    width: 70%;
    margin-inline: auto;
    margin-top: 245px;



}

h3 {
    font-size: 75px;
    font-weight: 600;
    line-height: 88px;
    text-align: left;
    margin-bottom: 67px;

}

.bottom_imgs {
    display: flex;
    justify-content: space-between;

}

.left_img {
    width: 55%;
    height: 645px;
    position: relative;
    z-index: -1;
}

.left_img1 {
    width: 100%;
    height: 100%;
}

.left_img1_text {
    color: #DCB47A;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    width: 56%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}



.right_img {
    width: 43%;
    height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.right_imgs {
    height: 48%;
}



/* footer */
footer {
    width: 100%;
    background-color: #262626;
    padding: 60px 0;
    margin-top: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    color: #FFFFFF;
}

span {
    color: #DCB47A;
}

.footer_text2 {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    margin: 48px 0;

}

button{
    background-color: #DCB47A;
    border-radius: 50px;
    border: 0;
}
.footer_text3 {
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding: 22px 60px;
    color: #FFFFFF;

}